<div id="carouselPetLove" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  width="90%" height="300px"  src="https://th.bing.com/th/id/R.200e5df7af1e1f6840ae5d79523e6d08?rik=2z0fF7unXF%2fBLg&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="90%" height="300px"  src="https://listelist.com/wp-content/uploads/2015/01/kedikopekdostluk-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  width="90%" height="300px"  src="https://th.bing.com/th/id/OIP.6ebERIROOmk-KpZFWixBdQHaFj?pid=ImgDet&w=600&h=450&rs=1" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPetLove" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPetLove" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>