@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel">

<div class="text-center">
    <h1 class="display-4">Bem vindo ao PelLove</h1>
    <p>Ver <a href="http://localhost:5293/Animal/"> bichinho</a> para adoção.</p>
</div>
